{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">About LeanLogic</h1>
            <p class="lead text-dark font-weight-bold">Your Partner in Weight Management!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p><strong>Welcome to LeanLogic – Your Partner in Weight Management!</strong></p>
            
            <p><strong>At LeanLogic, we believe that your health is the top priority.</strong> Our platform is designed to support your journey toward a healthier lifestyle by helping you track both weight loss and weight gain in a simple, meaningful way. This website is completely free for all users, because we’re committed to making health accessible to everyone.</p>

            <p><strong>Here at LeanLogic, we emphasize the importance of eating healthy, staying consistent, and maintaining a balanced weight.</strong> Our platform offers easy-to-use tools that help you monitor your progress, make informed decisions, and stay motivated throughout your journey.</p>

            <p>LeanLogic is owned and managed by <strong> Mr. Rihab Shihan, a dedicated software developer who is passionate about using technology </strong> to improve health and wellness.</p>

            <p><strong>Join LeanLogic today and take control of your health.</strong> Your weight management journey starts here, with the logic of healthy eating and mindful choices.</p>
        </div>
    </div>
</div>
{% endblock %}
